<footer id="footer">
    <div class="wrapper">
        <div class="social-links">
            <!-- <a target="_blank" href="" rel="noopener" aria-label="Facebook"><img src="./img/facebook.svg" /></a> -->
            <a target="_blank" href="https://www.instagram.com/medsurpv/" rel="noopener" aria-label="Instagram"><amp-img src="{{ site.baseurl }}/assets/images/instagram.svg" width="24" height="24"></a>
            <a target="_blank" href="https://github.com/medsur-nutricion" rel="noopener" aria-label="Github"><amp-img src="{{ site.baseurl }}/assets/images/github.svg" width="24" height="24"></a>
            <a target="_blank" href="mailto:asesoriamedsur@gmail.com?subject=MedSur%20Nutrición" rel="noopener" aria-label="Email"><amp-img src="{{ site.baseurl }}/assets/images/mail.svg" width="24" height="24" /></a>
        </div>
        <div class="attribution">
            MedSur es un proyecto desarrollado por el equipo de <a href="https://newtri.cl" rel="noopener" target="_blank">Newtri</a> y Quetru Ltda.
            <br>
            Todos los derechos reservados © 2019
        </div>
    </div>
</footer>
